@import "simple-grid";

.hidden {
  display: none;
  visibility: hidden;
}

.right { text-align: right; }
.small { font-size: 0.8em; }
.inline-block:not(.hidden) { 
  display: inline-block;
}

.alert {
  padding: 15px;

  &-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}

.title-wrapper {
  display: flex;
  align-items: center;

  h2 {
    flex-grow: 1;
  }
}

.survey-wrapper {
  margin-bottom: 80px;
}

.survey-answers {
  &__header {
    font-weight: 600;
    border-bottom: 1px solid #bbb;
  }

  &__discussion {
    margin-bottom: 15px;
  }
}

.user-info-box {
  &--top-right {
    float: right;
  }
}
