header {
  display: flex;

  align-items: center;
  height: 50px;
  padding: 25px;
}

.header-brand {
  display: flex;

  align-items: center;
}

.header-menu {
  flex-grow: 1;
  text-align: right;
}

.brand-wrapper {
  display: inline-block;

  margin-right: 20px;
  padding-right: 24px;

  border-right: solid 1px #979797;
}

.brand-text {
  font-weight: 600;
}
