<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="csrf_token" content="<%= get_csrf_token() %>">

    <title>Weekly Survey</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header>
      <div class="header-brand">
        <div class="brand-wrapper">
          <a href="/">
            <img src="/images/logo.svg" alt="SalesLoft Survey" />
          </a>
        </div>
        <div class="brand-text">Weekly Survey</div>
      </div>

      <div class="header-menu">
        <div class="inline-form">
          <a class="user-info-box__name-link" href="#"></a>
          <%= form_for @conn, users_info_path(@conn, :update), [method: "PUT", class: "hidden user-info-box"], fn f -> %>
            <%= text_input f, :name, placeholder: "Your name", required: true %>
            <button type="button" class="inline-form-close">cancel</button>
            <%= submit "submit" %>
          <% end %>
        </div>
      </div>
    </header>

    <div class="app-container">
      <%= render "_flashes.html", conn: @conn %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
